<div class="chat">
  <div class="chat-box">
    <% if message.user == current_user %>
      <div class="chat-face">
        <%= render partial: 'layouts/profile_avatar', locals: {user: message.user, a: 60, b: 60} %>
        <p><%= message.user.username %></p>
        <p><%= l message.created_at %></p>
      </div>
      <div class="chat-hukidashi"> 
        <strong><%= simple_format message.text %></strong> 
          <% if current_user == message.user %>
            <%= link_to message_path(message.id), method: :delete, class: 'trash-button', remote: true do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>
          <% end %>
      </div>
    <% else %>
      <div class="chat-hukidashi chat-hukidashi-right"> 
        <strong><%= message.text %></strong> 
      </div>
      <div class="chat-face">
        <%= render partial: 'layouts/profile_avatar', locals: {user: message.user, a: 60, b: 60} %>
        <p><%= message.user.username %></p>
        <p><%= l message.created_at %></p>
      </div>
    <% end %>
  </div>
</div>