<div class="profile-wrapper">
  <div class="profile-image">
  <%= form_with model: @profile, url: user_profiles_path, local: true do |f| %>
    <%= render partial: 'layouts/profile_avatar', locals: {user: @profile.user, a: 200, b: 200} %>
    <div class="field">
      <%= f.file_field :avatar, accept: "image/jpg, image/jpeg,image/gif,image/png", class: 'image-up'%>
    </div>
    <div class="field">
      <%= f.label :introduce_text, '自己紹介文' %>
      <%= f.text_area :introduce_text %>
      <% if @profile && @profile.errors.include?(:introduce_text) %>
        <p style="color: red"><%= @profile.errors.full_messages_for(:introduce_text).first %></p>
      <% end %>
    </div>
  <%= f.submit "更新する", class: "btn" %>
  <% end %>
  </div>
</div>