<% @title = "山情報" %>
<%= render 'layouts/tab' %>
<div class="mountain-information">
  <div class="mountain-information-top">
    <h3 class="mountain-name"><%= @mountain.name %></h3>
    <i class="fas fa-star fa-2x"></i>
    <p class="mountain-prefecture"><%= @mountain.prefecture %></p>
    <i class="fas fa-star fa-2x"></i>
    <p class="mountain-height"><%= @mountain.height %>m</p>
  </div>
  <div class="mountain-photo-wrapper">
  </div>
  <div class="mountain-feature-wrapper">
    <i class="fas fa-star fa-2x"></i>
    <h4 class="feature-title">特徴</h4>
    <div class="box">
      <p class="feature-text"><%= @mountain.feature %></p>
    </div>
  </div>
</div>
<div id="map">
</div>

<script>
function initMap(){
  // const default_location ={ lat: #{@mountain.latitude}, lng: #{@mountain.longitude} };
  const map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: 40.7828, lng:-73.9653},
    zoom: 12,
  });

  const marker = new google.maps.Marker({
    position:  {lat: 40.7828, lng:-73.9653},
    map: map
  });
}
</script>
<script type="text/javascript">
  const head = document.getElementsByTagName('head')[0]
  const insertBefore = head.insertBefore
  head.insertBefore = (newElement, referenceElement) => {
    if (newElement.href && newElement.href.indexOf('https://fonts.googleapis.com/css?family=Roboto') === 0)
      return
    insertBefore.call(head, newElement, referenceElement)
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCHQIcDRHIMgN4EOHoEZoZNnJDFtk2HfPo&callback=initMap" async defer></script>