<div class="notification">
  <div class="notification-list">
    <div class="notification-list-profile">
    <%= render partial: 'layouts/profile_avatar', locals: {user: notification.visitor, a: 50, b: 50} %>
    </div>
    <div class="notification-list-comment">
      <span>
        <span class="visitor-name"><%= notification.visitor.username %>さんが</span>
        <% case notification.action %>
        <% when 'follow' then %>
          あなたをフォローしました。
        <% when 'like' then %>
          あなたの<%= link_to '投稿', user_daily_path(current_user.id, notification.daily.id), class: 'notification-daily' %>にいいねしました。
        <% when 'comment' then %>
          <%# 通知の日記投稿者が自分の場合 %>
          <% if notification.daily.user_id == notification.visited.id %>
            <%= notification.visitor.username %>の
            <%= link_to '投稿', user_daily_path(current_user.id, notification.daily.id), class: 'notification-daily' %>
            にコメントしました。
          <% else %>
            <%= notification.daily.user.username %>の
            <%= link_to '投稿', user_daily_path(current_user.id, notification.daily.id), class: 'notification-daily' %>
            にコメントしました。
          <% end %>
        <% end %>
      </span>
    </div>
  </div>
</div>