<div class="friends-list-wrapper">
  <% @users.each do |user| %>
    <div class="friends-list">
      <div class="friends-list-left">
        <%= render partial: 'layouts/profile_avatar', locals: {user: user} %>
        <p><%= user.username %></p>
        <div id="follow-form-<%= user.id %>">
          <% if @user.follow?(user) %>
            <%= render partial: 'unfollow_form', locals: {user: user } %>
          <% else %>
            <%= render partial: 'follow_form', locals: {user: user} %>
          <% end %>
        </div>
      </div>
      <div class="friends-list-center">
        <p><%= user.profile.introduce_text %></p>
      </div>
      <div class="friends-list-right">
        <%# メッセージ機能 %>
      </div>
    </div>
  <% end %>
</div>