<div class="chats">
  <div class="chat">
    <% if @messages.present? %>
      <% @messages.each do |message| %>
        <div class="chat-box">
          <div class="chat-face">
          <% if message.user.profile.present? %>
            <%= image_tag message.user.profile.avatar, class:"user-image" %>  
          <% end %>
          </div>
          <div class="chat-hukidashi"> 
            <strong><%= message.text %></strong> 
            <br>
            <%= message.created_at %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="posts">
    <%= form_for @message do |f| %>
      <%= f.hidden_field :room_id, value: @room.id %>
      <%= f.text_field :text, placeholder: "メッセージを入力して下さい" , size: 70, class:"form-text-field" %>
      <%= f.submit "投稿",class: 'form-submit'%>
    <% end %>
  </div>
</div>
