<div class="daily-form-wrapper">
  <h3>投稿する</h3>
  <%= form_with url: user_dailys_path, scope: :daily, local: true, class: 'daily-form' do |f| %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.hidden_field :mountain_id, :value => 1 %>

    <div class="field">
      <%= f.label :mountain_name, '山の名前' %>
      <%= select("daily", "mountain_name", Mountain.all.collect { |mountain| [ mountain.name, mountain.name ] }) %>
      <% if @daily.errors.include?(:mountain_name) %>
        <p style="color: red"><%= @daily.errors.full_messages_for(:mountain_name).first %></p>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :title, 'タイトル' %>
      <%= f.text_field :title %>
      <% if @daily.errors.include?(:title) %>
        <p style="color: red"><%= @daily.errors.full_messages_for(:title).first %></p>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :comment, '内容' %>
      <%= f.text_area :comment %>
      <% if @daily.errors.include?(:comment) %>
        <p style="color: red"><%= @daily.errors.full_messages_for(:comment).first %></p>
      <% end %>
    </div>
    <div class="field">
      <%= f.file_field :images, multiple: true ,  accept: "image/jpg, image/jpeg,image/gif,image/png", class: 'image-up'%>
      <% if @daily.errors.include?(:images) %>
        <p style="color: red"><%= @daily.errors.full_messages_for(:images).first %></p>
      <% end %>
    </div>
    <%= f.submit "投稿する", class: "btn" %>
  <% end %>
</div>