<div class="daily-form-wrapper">
  <h3>投稿する</h3>
  <%= form_with url: dailies_path, scope: :daily, local: true, class: 'daily-form' do |f| %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.hidden_field :mountain_id, :value => 1 %>

    <div class="field">
      <%= f.label :mountain_name, '山の名前' %>
      <%= f.text_field :mountain_name %>
    </div>
    <div class="field">
      <%= f.label :title, 'タイトル' %>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :comment, '内容' %>
      <%= f.text_area :comment %>
    </div>
    <%= f.submit "投稿する", class: "btn" %>
  <% end %>
</div>