<div class="daily-form-wrapper">
  <h3>投稿する</h3>
  <%= form_with model: @daily, class: 'daily-form' do |f| %>
    <div class="field">
      <%= f.label :name, '山の名前' %>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :title, 'タイトル' %>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :comment, '内容' %>
      <%= f.text_area :comment %>
    </div>
    <%= f.submit "投稿する", class: "btn" %>
  <% end %>
</div>