<% @title = "山日記" %>
<div class="card-wrapper">
  <% @dailys.each do |daily| %>
    <%# このdivがあることでflexが崩れるのを防ぐ（link_toで生成された空のaタグがflexの対象になる） %>
    <div> 
    <%= link_to  user_daily_path(daily.user.id, daily.id) do %>
      <div class="card card-skin">
        <div class="card__imgframe">
          <%= render partial: 'layouts/profile_avatar', locals: {user: daily.user, a: 200, b: 200} %>
        </div>
        <div class="card__textbox">
          <div class="card__titletext">
            <%= daily.title%>
            <% unless current_user == daily.user %>
              <div id="like-btn-<%= daily.id %>">
                <%= render 'likes/like', daily: daily %>
              </div>
            <% end %>
          </div>
          <div class="card__overviewtext">
            <%= daily.comment.slice(0..100) %>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  <% end %>
</div>