<% @title = "山日記" %>
<%# if current_user == @user %>
<%# unless current_user == @user %>
<div class="profile">
    <div class="profile-content">
      <div class="profile-content-left">
        <%= render partial: 'layouts/profile_avatar', locals: {user: @user, a: 80, b: 80} %>
        <p><%= @user.username %></p>
        <% unless current_user == @user %>
          <div id="follow-form-<%= @user.id %>">
            <% if current_user.follow?(@user) %>
              <%= render partial: 'users/unfollow_form', locals: {followed_user: @user, user: current_user } %>
            <% else %>
              <%= render partial: 'users/follow_form', locals: {followed_user: @user, user: current_user} %>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="profile-content-center">
      </div>
      <p><%= @user.profile.introduce_text if @user.profile %></p>
    </div>
</div>
<%# end %>
<div id="wrapper-for-ajax" class="jscroll">
  <%= render partial: 'index'%>
</div>
<%# else %>
<%# tabもicon-navもdaily-createもいらない %>
<%# その代わり戻るボタンでさっきいた場所に戻れるようにする redirect_back %>
<%# end %>
