<% @title = "山日記" %>
<div class="daily-show">
  <div class="user">
    <% if @daily.user.profile.avatar.attached? %>
      <%= image_tag @daily.user.profile.avatar.variant(resize_to_fill: [200, 200]) %>
    <% else %>
      <%= image_tag 'stockfoto_12670415.jpg' %>
    <% end %>
    <p><%= @daily.user.username %></p>
  </div>
  <div class="daily-wrapper">
    <% if current_user == @daily.user %>
      <%= link_to user_daily_path(@daily.user, @daily.id), method: :delete, class: 'trash-button' do %>
        <i class="fas fa-trash-alt fa-3x"></i>
      <% end %>
    <% end %>
    <h3 class="mountain-name"><%= @daily.mountain_name %></h3>
    <h3 class="title"><%= @daily.title %></h3>
    <p class="comment"><%= @daily.comment %></p>
    <div class="daily-photo-wrapper">
      <div class="daily-photo">
          <% if @daily.images.attached? %>
            <% @daily.images.each do |image|  %>
              <%= image_tag image %>
            <% end %>
          <% end %>
      </div>
    </div>
  </div>
</div>

