<% @title = "山日記" %>
<div class="daily-show">
  <div class="user">
    <%= link_to  user_dailys_own_path(@daily.user.id) do %>
      <%= render partial: 'layouts/profile_avatar', locals: {user: @daily.user, a: 80, b: 80} %>
      <p><%= @daily.user.username %></p>
    <% end %>
  </div>
  <div class="daily-wrapper">
    <div class="icon-wrapper">
      <% if current_user == @daily.user %>
        <%= link_to user_daily_path(@daily.user, @daily.id), method: :delete, class: 'trash-button' do %>
          <i class="fas fa-trash-alt fa-3x"></i>
        <% end %>
      <% end %>
      <% unless current_user == @daily.user %>
        <div id="like-btn-<%= @daily.id %>">
          <%= render 'likes/like', daily: @daily %>
        </div>
      <% end %>
    </div>
    <h3 class="mountain-name"><%= @daily.mountain_name %></h3>
    <h3 class="title"><%= @daily.title %></h3>
    <%= simple_format(@daily.comment, class: 'comment') %>
    <div class="daily-photo-wrapper">
      <div class="daily-photo">
          <% if @daily.images.attached? %>
            <% @daily.images.each do |image|  %>
              <%= image_tag image %>
            <% end %>
          <% end %>
      </div>
    </div>
  </div>
  <div class="comment-top">
    <h3>コメント一覧</h3>
    <%= link_to new_daily_comment_path(@daily.id), class: 'comment-link' do %>
      <i class="far fa-comment-alt"></i>
      <p>コメントする</p>
    <% end %>
  </div>
  <%= render @comments %>
</div>

