<% unless @user.id == current_user.id %>
  <% if (current_user.follow? @user) && (@user.follow? current_user) %>
    <% if @is_room == true %>
      <p class="user-show-room">
        <%= link_to room_path(@room_id) do %>
          <i class="fas fa-sms fa-2x"></i>
        <% end %>
      </p>
    <% else %>
      <%= form_with url: rooms_path , local: true do |f| %>
        <%= fields_for @entry do |e| %>
          <%= e.hidden_field :user_id, value: @user.id %>
        <% end %>
        <%= f.submit "チャットを始める", class:"user-show-chat"%>
      <% end %>
    <% end %>
  <% end %>
<% end %>