<div class="table-wrapper">
  <div class="search-wrapper ">
    <h2>地方で絞り込む！</h2>
    <%= search_form_for @search, class: 'search_container' do |f| %>
      <%= f.select :area_eq, [['でっかい道','北海道'], ['東北','東北'], ['関東','関東'], ['中部','中部'], ['近畿','近畿'], ['中国','中国'], ['四国','四国'], ['九州','九州']] %>
      <%= f.submit '検索' %>
    <% end %>
  </div>
  <table class="table_box">
    <tr>
      <th>名前</th>
      <th>地方</th>
      <th>県</th>
      <th>標高</th>
    </tr>
    <% @mountains.each do |mountain| %>
        <tr>
          <% if user_signed_in? && current_page?(user_dailys_mountain_path(current_user.id)) %> 
            <td><%= link_to mountain.name, mountain_dailys_mountain_show_path(mountain.id) %></td>
          <% end %>
          <% if current_page?(mountains_path) %>
            <td><%= link_to mountain.name, mountain_path(mountain.id) %></td>
          <% end %>
          <td><%= mountain.area %></td>
          <td><%= mountain.prefecture%></td>
          <td><%= mountain.height %>m</td>
        </tr>
    <% end %>
  </table>
</div>