<div class="side-nav-wrapper side-nav-wrapper-model">
  <ul class="side-nav">
    <li class="side-nav-list">
      <%= link_to user_dailys_home_path(current_user.id) do %>
        <h4><i class="fas fa-home fa-1x"></i>ホーム</h4>
      <% end %>
    </li>
    <li class="side-nav-list">
      <%= link_to user_dailys_own_path(current_user.id) do %>
        <h4><i class="fas fa-user-circle fa-1x"></i>マイページ</h4>
      <% end %>
    </li>
    <li class="side-nav-list">
      <%= link_to user_dailys_mountain_path(current_user.id) do %>
        <h4><i class="fas fa-mountain fa-1x"></i>山</h4>
      <% end %>
    </li>
    <li class="side-nav-list">
      <%= link_to following_user_path(current_user.id) do %>
        <h4>山友</h4>
      <% end %>
    </li>
    <li class="side-nav-list">
      <%= link_to mountains_path  do %>
        <h4>山情報</h4>
      <% end %>
    </li>
    <li class="side-nav-list">
      <%= link_to likes_user_path(current_user.id)  do %>
        <h4><i class="fas fa-heart fa-1x"></i>いいね</h4>
      <% end %>
    </li>
    <li class="side-nav-list">
      <%= render partial: 'layouts/notification' %>
    </li>
    <li class="side-nav-list">
      <%= link_to map_path  do %>
        <h4><i class="fas fa-map-marked-alt"></i>地図検索</h4>
      <% end %>
    </li>
  </ul>
</div>