<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title(yield :title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/js/lightbox.min.js" type="text/javascript">
    </script>
  </head>
  <body>
    <header>
    <ul class="header-list">
    <% unless user_signed_in? %>
      <div class="header-list-left">
        <li class="header-list-item" ><h1><%= link_to '百名山', root_path, class: "header-list-item-link" %></h1></li>
      </div>
      <div class="header-list-right dropdown">
        <li class="header-list-item" ><%= link_to '新規登録', new_user_registration_path, class: "header-list-item-link header-list-item-signup" %></li>
        <li class="header-list-item" ><%= link_to 'ログイン', new_user_session_path, class: "header-list-item-link" %></li>
        <li class="header-list-item" ><%= link_to 'ゲストログイン', users_guest_sign_in_path, class: "header-list-item-link guest-login-item" ,method: :post %></li>
        <br class="dropdown-trigger" style="display: none">
      </div>
    <% else %>
      <div class="header-list-left">
        <li class="header-list-item" ><h1><%= link_to '百名山', user_dailys_own_path(current_user.id) , class: "header-list-item-link" %></h1></li>
      </div>
      <div class="header-list-right header-list-right-signed">
      <%= render 'layouts/daily-create' %>
        <%#= render partial: 'layouts/profile_avatar', locals: {user: current_user, a: 60, b: 60} %>
        <% if current_user.profile && current_user.profile.avatar.attached? %>
          <%= image_tag current_user.profile.avatar.variant(resize_to_fill: [60, 60]), class: "dropdown-trigger" %>
        <% else %>
          <%= image_tag 'stockfoto_12670415.jpg', class: "dropdown-trigger" %>
        <% end %>
        <ul class="signin-dropdown-menu" id="dropdown">
          <li><%= link_to 'プロフィール', edit_user_profiles_path(current_user.id) %></li>
          <li><%= link_to '登録情報変更', edit_user_registration_path %></li>
          <li class="logout"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
        </ul>
      </div>
      <% end %>
    </ul>
    </header>
    <% if user_signed_in? %>
    <div id="modal"><i class="fas fa-sign-in-alt fa-3x"></i></div>
    <div class="daily-create-responsive">
      <%= render 'layouts/daily-create' %>
    </div>
      <div class="content">
        <div class="left">
          <%= render 'layouts/side_nav' %>
        </div>
        <div class="right">
          <%= yield %>
        </div>
        <div class="modal">
          <div class="inner">
            <%= render 'layouts/side_nav' %>
          </div>
        </div>
      </div>
    <% else %>
      <%= yield %>
      <div>
      </div>
    <% end %>
  </body>
</html>

