<!DOCTYPE html>
<html>
  <head>
    <title>DockerApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <header>
    <ul class="header-list">
      <div class="header-list-left">
        <li class="header-list-item" ><h1><%= link_to '100山', root_path, class: "header-list-item-link" %></h1></li>
      </div>
      <div class="header-list-right">
        <li class="header-list-item" ><%= link_to 'Sign up', new_user_registration_path, class: "header-list-item-link header-list-item-signup" %></li>
        <li class="header-list-item" ><%= link_to 'Sign in', new_user_session_path, class: "header-list-item-link" %></li>
      </div>
    </ul>
    </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <footer>
      <div class="footer-navi"></div>
      <div class="copyright"></div>
    </footer>
  </body>
</html>
